body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .nav-bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header .nav-bar h2 {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 30px;
}

#img-heroSection {
  width: 100%;
  border-radius: 20px;
}

.hero-img {
  max-width: 30%;
}

.content {
  max-width: 30%;
  margin-right: 20px;
}

.hero-section .content h3 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-section .content p {
  font-size: 18px;
  color: #E5E7EB;
}

.button-heroSection {
  padding: 5px 20px;
  background-color: #3882F6;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button-heroSection:hover {
  transform: scale(1.2);
  transition: 0.5s;
}


.cards-information {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  
}

.cards-information h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-benefits {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.cards {
  max-width: 200px;
}

.cards img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.cards p {
  display: flex;
  justify-content: center;
}

.cards:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.container-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  padding: 90px;
}


.quote {
  max-width: 600px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

#character {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 550;
}

.cfa-section {
  padding: 80px 20px;
  
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-action {
  box-shadow: 0 2px 10px rgba(0,0,0,0.9);
  background-color: #3882F6;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  padding: 30px 50px;
}

.content-action p {
  color: #fff;  
}

.content-buttonAct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-buttonAct:hover{
  transform: scale(1.05);
  transition: 0.5s;
}

.content-paragraf {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

#title {
  font-weight: bold;
}

#button-action {
  border: 2px solid white;
  background-color: #3882F6;
  color: #fff;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 5px;
}

footer {
  display: flex;
  width: 100%;
  background-color: #1f2937;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}

.nav-bar a {
  position: relative;
}

.nav-bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.nav-bar a.active::after {
  width: 100%;
}
